*{
    margin: 0;
    padding: 0;
}

nav{    
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 12px; 0px;
    
}
.logo{
    font-size: 24px;
    font-weight: 700;
    color: #0D1B2A;
}




ul{
     display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 20px;
}
ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
}